<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=div.box, initial-scale=1.0">
    <title>php_loginsystem</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="box_login">
        <div class="capa">
            
        </div>
        <h1>Faça Seu Login</h1>

        <form method="POST" action="http://localhost/php_loginsystem/login/check">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Senha">

            <button class="btn-login">Logar</button>
            <span class="msg_error"><i class="fa fa-exclamation-triangle" style="font-size: 18px; color:#fff; padding-right:5px ;"></i>Tentativa invalida</span>
        </form>
    </div>
</body>
</html>